$Strong-primary: hsl(172, 67%, 45%);
$Very-dark-primary: hsl(183, 100%, 15%);
$Dark-grayish-parimary: hsl(186, 14%, 43%);
$Grayish-primary: hsl(184, 14%, 56%);
$Light-grayish-primary: hsl(185, 41%, 84%);
$Very-light-grayish-primary: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
